<h1>Property Biding</h1>
<h2>Propiedades 1</h2>
<button [disabled] = "btnDisable">Boton</button>
<input type="text" [value]="name"><br>
<progress max="100" [value]="age"></progress><br>
<img [src]="img" width="100px" alt=""><br>
<hr>
<h1>Property Biding con Objetos</h1>
<h2>Propiedades 2</h2>
<button [disabled] = "btnDisable">Boton</button>
<input type="text" [value]="persona.name"><br>
<progress max="100" [value]="persona.age"></progress><br>
<img [src]="persona.avatar" width="100px" alt=""><br>
<hr/>
<h1>String Interpolation</h1>
<h1>Hola Mundo</h1>
<h2>{{ 'Hola Mundo'.repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola soy, {{name}}</h3>
<img src={{img}} alt="imagen">
<h1>Eventos</h1>
<button [disabled]="btnDisable" >Enviar</button>
<button (click)="toggleButton()" >Toggle Button</button>
<button (click)="aumentarEdad()" >Aumentar</button>
<button (click)="restarEdad()">Restar</button>
<p>Edad: {{persona.age}}</p>
<!--ESCUCHANDO EVENTOS CON ANGULAR-->
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
    Expedita in totam dolor nostrum sit provident quaerat quis,
    unde reiciendis quia cumque. Dolor minima sit nesciunt neque, 
    molestias velit nostrum iste?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
    Expedita in totam dolor nostrum sit provident quaerat quis,
    unde reiciendis quia cumque. Dolor minima sit nesciunt neque, 
    molestias velit nostrum iste?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
    Expedita in totam dolor nostrum sit provident quaerat quis,
    unde reiciendis quia cumque. Dolor minima sit nesciunt neque, 
    molestias velit nostrum iste?</p>
</div>
<p>Nombre: {{persona.name}}</p>
<input type="text" [value]="persona.name" (keyup)="changeName($event)"><br>